{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conversion</title>
    <link rel="stylesheet" type="text/css" href="{% static 'conversion/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'conversion/css/jquery.atwho.css' %}">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ichord.github.io/Caret.js/src/jquery.caret.js"></script>
    <script type="text/javascript" src="{% static 'conversion/js/jquery.atwho.js' %}"></script>
    <script type="text/javascript">
  $(function(){
    var substance = ["flour","butter"];
    var units = ["gram","cup"];
    $('input').atwho({
      at: "of ",
      startWithSpace: true,
      data: substance,
      limit: 200,
      callbacks: {
        afterMatchFailed: function(at, el) {
          if (at == 'of ') {
            tags.push(el.text().trim().slice(1));
            this.model.save(tags);
            this.insert(el.text().trim());
            return false;
          }
        }
      }
    }).atwho({
      at: "to ",
      startWithSpace: true,
      data: units,
      limit: 200,
      callbacks: {
        afterMatchFailed: function(at, el) {
          if (at == 'of ') {
            tags.push(el.text().trim().slice(1));
            this.model.save(tags);
            this.insert(el.text().trim());
            return false;
          }
        }
      }
    });
  });
  </script>
</head>
<body>


    <div class="center-block">
        {% if messages %}
        <ul class="messages bg-danger">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>

        {% endif %}
        <form action="{% url "conversion.views.question" %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit"/>
        </form>
        {% if response %}
            {% if substance %}
                <p>{{ source_measure }} of {{ substance }} is {{ response }}</p>
            {% else %}
                <p>{{ source_measure }} is {{ response }}</p>
            {% endif %}
        {% endif %}
    </div>

</body>
</html>